.results {
  height: 100vh;
  overflow: visible;

  .ant-tabs-nav {
    margin: 0;
    user-select: none;
    .ant-tabs-tab {
      padding: 6px 10px;
      margin: 0;
    }
  }

  .ant-tabs-content-holder {
    position: relative;
    .ant-tabs-content {
      height: 100%;
    }
  }

  .controller {
    position: absolute;
    top: -33px;
    right: 0;
  }
}
