.source-manager {
  height: 100%;

  // 导航栏
  & > .ant-tabs-nav {
    .ant-tabs-tab, .ant-tabs-nav-add {
      padding: 4px 8px;
    }
  }

  // 内容
  & > .ant-tabs-content-holder {
    flex: 1 1 0;
    overflow: auto;
  }
}
