.source-manager {
  height: 100vh;

  // 导航栏
  & > .ant-tabs-nav {
    margin: 0;
    .ant-tabs-tab,
    .ant-tabs-nav-add,
    .ant-tabs-nav-more {
      padding: 4px 8px;
    }
  }

  // 内容
  & > .ant-tabs-content-holder {
    overflow: auto;
  }

  &.empty > .ant-tabs-content-holder {
    position: relative;
    &::before {
      content: '点击 “+” 添加文件';
      position: absolute;
      color: gray;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
